{% extends 'base.html' %}

{% block title %}

    Busqueda de usuario


{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="static/busqueda_usuario.css" />
    

{% endblock %}





{% block content %}

    <h1 class="hospital"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
        
    <div class="container">
        <h2 class="back"><a href="{{ url_for('dashboard') }}" class="back_a" a>Regresar al dashboard</a></h2>
    </div>

    <div class="busqueda">

        <form action="/busqueda_usuario" method="POST">
        
            <form action="#" method="POST">
                <div class="search-border">
                    <input name="query" type="text" placeholder="Buscar por nombre, ID o email" class="search-bar" value="{{query}}">
                    <button type="submit"><a href="" class="search-button"><i class="fas fa-search"></i></a></button>
                </div>
            </form>
        </form>
            
    </div>

    



    

    <div class="results-section">

        {% if results != [] %}

            {% if length!=total_length %}

            <h2 class="n-results">Se han encontrado {{length}} resultados para "{{query}}"</h2>


            {% endif %}



            

            {% for item in results %}


                <div class="container_resultados">
                    <div class="result-top"><a href="" class="name"><span class="apellidos">{{item.apellidos}}</span>, <span class="cap">{{item.nombres}}</span></a> <a href=""><a class="fas fa-trash-alt" href="/borrar/{{ item.id }}"></a></a></div>
                    <h3 class="user-info"><span class="bold">ID:</span> {{item.documento}} </h3>
                    <h3 class="user-info"><span class="bold">Email:</span> {{item.email}} </h3>
                </div>
                


            {% endfor %}


        {% else %}

            <h2 class="n-results">No se han encontrado resultados para la búsqueda de "{{query}}"</h2>

        {% endif %}

    </div>

    


{% endblock %}

