{% extends 'base.html' %}

{% block title %}




{% endblock %}





{% block styles %}



{% endblock %}





{% block content %}


    <form method="POST" class="form-register" action="/busqueda_usuario">

        <input type="text" name="query", placeholder="ID, correo o apellidos", value="{{query}}" >
        <input type="submit" label="buscar">

    


    </form>


    <div>

        {% for item in results %}


        <h3><a href="">{{item.apellidos}}, {{item.nombres}}</a></h3>
        <p>{{item.documento}}</p>
        <p>{{item.email}}</p>

        {% endfor %}



    </div>

    


{% endblock %}