{% extends 'base.html' %}

{% block title %}

    Busqueda de citas


{% endblock %}





{% block styles %}

    <link rel="stylesheet" href="static/busqueda_citas.css" />
    

{% endblock %}





{% block content %}

    <h1 class="hospital" style="color: #fff; font-weight: bold;"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
        
    <div class="container">
        <h2 class="back"><a href="{{ url_for('dashboard') }}" class="back_a" a>Regresar al dashboard</a></h2>
    </div>

    <div class="busqueda">

        <form action="/busqueda_citas" method="POST">
        
            <form action="#" method="POST">
                <div class="search-border">
                    <input name="query_paciente" type="text" placeholder="Apellidos del paciente" class="search-bar" value="{{query_paciente}}">
                    <input name="query_medico" type="text" placeholder="Nombre del doctor" class="search-bar" value="{{query_medico}}">
                    <input name="query_fecha" type="text" placeholder="Fecha de la cita (DD/MM/AAAA)" class="search-bar" value="{{query_fecha}}">
                    <button type="submit"><a href="" class="search-button"><i class="fas fa-search"></i></a></button>
                </div>
            </form>
        </form>
            
    </div>

    



    

    <div class="results-section">

        {% if results != [] %}

            {% if length!=total_length %}

                <h2 class="n-results">Se han encontrado {{length}} resultados para "{{query_paciente}}" / "{{query_medico}}" / "{{query_fecha}}"</h2>


            {% endif %}


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Medico</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for i in results %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td class="cap">{{i.paciente}}</td>
                            <td>{{i.medico}}</td>
                            <td>{{i.fecha}}</td>
                            <td>{{i.hora}}</td>
                            <td><a class="fas fa-trash-alt" href="/borrar_cita/{{ i.id }}"></a></td>
                        </tr>
    
                    {% endfor %}
    
    
                </tbody>
    
    
            </table>



        {% else %}

            <h2 class="n-results">No se han encontrado resultados para la búsqueda de "{{query_paciente}}, {{query_medico}}, {{query_fecha}}"</h2>

        {% endif %}

    </div>

    


{% endblock %}
