{% extends 'base.html' %}

{% block title %}




{% endblock %}





{% block styles %}



{% endblock %}





{% block content %}


    <form method="POST" class="form-register" action="/busqueda_usuario">

        {{ busqueda.hidden_tag() }}

        <p class="label">{{ busqueda.barra.label() }}</p>
        {{ busqueda.barra( name = 'query', value = '{{query}}')  }}


        {{ busqueda.buscar(class="btn btn-lg btn-block btn-primary submit-button") }}

    


    </form>


    <div>

        {% for item in list %}


        <h3><a href="">{{item.apellidos}}, {{item.nombres}}</a></h3>
        <p>{{item.documento}}</p>
        <p>{{item.email}}</p>

        {% endfor %}



    </div>

    


{% endblock %}