{% extends 'base.html' %}

{% block title %}

  Agenda tu cita


{% endblock %}





{% block styles %}



{% endblock %}

 



{% block content %}
  
  <h1>Agenda tu cita</h1>
  <h2>Tu salud y tu tiempo son lo más importante, por eso te facilitamos las cosas.</h1>

  <form method="POST" class="form-register">

    <div class="container">
      <h2 class="back"><a href="{{ url_for('dashboard') }}" class="back_a" a>Regresar al dashboard</a></h2>
    </div>

    {{ citas_form.hidden_tag() }}

    <p class="label">{{ citas_form.medico.label() }}</p>
    {{ citas_form.medico() }}

    <p class="label">{{ citas_form.fecha.label() }}</p>
    {{ citas_form.fecha() }}
    
    <p class="label">{{ citas_form.hora.label() }}</p>
    {{ citas_form.hora() }}
    
    <br>

    <br>

    {{ citas_form.submit(class="btn btn-lg btn-block btn-primary submit-button") }}


  </form>

{% endblock %}