{% extends 'base.html' %}

{% block title %}

  Agenda tu cita


{% endblock %}





{% block styles %}



{% endblock %}

 



{% block content %}

  <form method="POST" class="form-register">

    {{ citas_form.hidden_tag() }}

    <p class="label">{{ citas_form.nombres.label() }}</p>
    {{ citas_form.nombres() }}

    <p class="label">{{ citas_form.medico.label() }}</p>
    {{ citas_form.medico() }}

    <p class="label">{{ citas_form.fecha.label() }}</p>
    {{ citas_form.fecha() }}
    
    <p class="label">{{ citas_form.hora.label() }}</p>
    {{ citas_form.hora() }}
    
    <br>

    <br>

    {{ citas_form.submit(class="btn btn-lg btn-block btn-primary submit-button") }}


  </form>

{% endblock %}