{% extends 'base.html' %}

{% block title %}

  Agenda tu cita


{% endblock %}





{% block styles %}

  <link rel="stylesheet" href="{{url_for('static',filename='citas.css')}}" />

{% endblock %}

 



{% block content %}

  <h1 class="hospital" style="color: #fff; font-weight: bold;"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
  
  <div class="container">
    <h2 class="back"><a href="{{ url_for('dashboard') }}" class="back_a" a>Regresar al dashboard</a></h2>
  </div>

  <div class="mensaje">
    <h2>Agenda tu cita</h2>
    <p>Tu salud y tu tiempo son lo más importante, por eso te facilitamos las cosas.</p>
  </div>



  <form method="POST" class="form-register">

    

    {{ citas_form.hidden_tag() }}

    <div class="container_items">
      <div class="items">
        <p class="label">{{ citas_form.medico.label() }}</p>
        {{ citas_form.medico() }}
      </div>
      
      <div class="items">
        <p class="label">{{ citas_form.fecha.label() }}</p>
        {{ citas_form.fecha() }}
      </div>

      <div class="items">
        <p class="label">{{ citas_form.hora.label() }}</p>
        {{ citas_form.hora() }}
      </div>

      {{ citas_form.submit(class="btn btn-lg btn-block btn-primary submit-button") }}

    </div>
    
    


    


  </form>

{% endblock %}