{% extends 'base.html'%}
{% block title %}
Dashboard
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

{% endblock %}


{% block content %}
    
<body>

    {% if current_user.is_authenticated %}
        <h1>Bienvenido: <span class="cap">{{ current_user.apellidos }}, {{ current_user.nombres }}</span></h1>

    {% else %}

        <h1>Bienvenido, no autenticado</h1>
    {% endif %}

    <a href="{{ url_for('inicio') }}">Inicio</a>
    <a href="{{ url_for('citas') }}">Agenda tu cita</a>
    <a href="{{ url_for('busqueda_usuario') }}">Buscar usuarios</a>
    <a href="{{ url_for('busqueda_citas') }}">Buscar citas</a>
    <a href="{{ url_for('mis_citas') }}">Mis citas</a>
    <a href="{{ url_for('logout_page') }}">Cerrar Sesión</a>
    

</body>

{% endblock %}