<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camino Bosque de Maria</title>
    <link rel="stylesheet" href="/static/css/Pagina_Principal.css" >
</head>

<body>
    

</body>
</html>


{% extends 'base.html'  %}

{% block styles %}

    <link rel="stylesheet" href="{{url_for('static',filename='inicio.css')}}">

{% endblock %}






{% block content %}

<div class="Login">
  <FORM name=form action="login">
  
  <P>Usuario:    <INPUT type=text name=login> 
  <P>Contraseña: <INPUT type=password name=password> 
  <INPUT onclick= go() type=button value=Acceder>
  <a href="registro"> Registrase </a>
  </div>
<br>
<br>
<br>
<h1 id="Titulo1"> Camino bosques de Maria </h1>

<div class="Banner" >
</div>

<ul>
  
  <li><a href="Quienes_Somos">QUIENES SOMOS</a>
  </li>
  <li><a href="contacto">CONTACTO</a>
      <ul>
      <li><a href="PQR">PQR</a></li>
      <li><a href="FAQ">PREGUNTAS FRECUENTES</a></li>
      <li><a href="#">ENCUESTA DE USUARIOS</a></li>
      </ul>
      </li>
</ul>
  <div class="fas fa-bars"></div>
</div>
</header>

<section class="Inicio" id="Inicio">
<div class="container">
  <div class="row min-vh-100 align-items-center text-center text-md-left">
    <div class="col-md-6 pr-md-5" data-aos="zoom-in">
      <img src="images/UNO.jpg" width="100%" alt="" />
    </div>

    <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
      <h1><span>mantente</span> a salvo, <span>mantente</span> saludable.</h1>
      <h3>te cuidamos.</h3>
      <a href="#"><button class="button">Detalles</button></a>
    </div>
  </div>
</div>
</section>

<!-- home section ends -->

<!-- about section start  -->

<section class="about" id="about">
<div class="container">
  <div class="row min-vh-100 align-items-center">
    <div class="col-md-6 content" data-aos="fade-right">
      <div class="box">
        <h3><i class="fas fa-ambulance"></i> Servicio de Ambulancia</h3>
        <p>
          Ofrecemos el servicio de ambulancia básica y medicalizada para eventos
          especiales: fiestas, congresos, eventos deportivos, festivales, activaciones de marca etc.
          Infórmate en los siguiente números:

          Barranquilla al PBX (7) 5 77 23 23 Ext 101

          Santa Marta al PBX (5) 420 90 27
        </p>
      </div>

      <div class="box">
        <h3><i class="fas fa-procedures"></i> Salas de Emergencia</h3>
        <p>
          La Sala de Emergencias del Hospital Caminos Bosques de María,  tiene como objetivo ayudarle a resolver cualquier problema o incidencia que pudiera tener durante su estancia o visita en nuestras facilidades.

          La Sala de Emergencias es un departamento dentro del hospital que está destinada a las personas que no pueden esperar para ser atendidas. A diferencia de su visita a un consultorio médico, usted no necesita una cita para la Sala de Emergencias. Puede haber muchos pacientes que necesitan tratamiento al mismo tiempo que usted. Los pacientes en sala de espera se atienden por orden de urgencia, se evalúa la queja o síntoma y se determina la prontitud con que deben ser atendidos

          Si usted tiene algún síntoma o molestia que no le permita esperar su turno, pregunte al personal de enfermería cómo puede ayudarle.
          La Sala de Emergencias hará todo lo posible por atender su situación de emergencia a la mayor brevedad posible.

          Horario:
          Oficinas abiertas las 24 horas del día.

        </p>
      </div>

      <div class="box">
        <h3><i class="fas fa-stethoscope"></i>Especialidades</h3><br><br>
        <p>
          
          Una especialidad médica son los estudios cursados por un graduado o licenciado en Medicina en su <br>
          período de posgrado, y que derivan de un conjunto de conocimientos médicos especializados relativos a un <br>
          área específica del cuerpo humano,<br>
          a técnicas quirúrgicas específicas o a un método diagnóstico determinado <br>
        </p>
      </div>
    </div>

    <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
      <img src="{{url_for('static',filename='imagenes/about-img.png')}}" width="100%" alt="" />
    </div>
  </div>
</div>
</section>



<section class="facility" id="facility">
<div class="container">
  <h1 class="heading"><span></span> GALERIA  <span> </span></h1>

  <div class="box-container">
    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img1.jpg" title="our team">
        <img src="static/imagenes/img1.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img2.jpg" title="our lab">
        <img src="static/imagenes/img2.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img3.jpg" title="emergency rooms">
        <img src="static/imagenes/img3.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img4.jpg" title="expert doctors">
        <img src="static/imagenes/img4.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img5.jpg" title="expert doctors">
        <img src="static/imagenes/img5.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img6.jpg" title="emergency rooms">
        <img src="static/imagenes/img6.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img7.jpg" title="expert doctors">
        <img src="static/imagenes/img7.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img8.jpg" title="emergency rooms">
        <img src="static/imagenes/img8.jpg" alt="" />
      </a>
    </div>

    <div class="box" data-aos="zoom-in">
      <a href="static/imagenes/img9.jpg" title="enough beds">
        <img src="static/imagenes/img9.jpg" alt="" />
      </a>
    </div>
  </div>
</div>
</section>


<section class="review" id="review">
<div class="container">
  <h1 class="heading"><span>'</span> people's review <span>'</span></h1>

  <div class="box-container">
    <div class="box" data-aos="fade-right">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consectetur accusantium error numquam dolore atque. Atque totam ad
        sint ducimus! Maxime!
      </p>
      <h3>someone's name</h3>
      <span>jan 5, 2021</span>
      <img src="static/imagenes/pic-1.png" alt="" />
    </div>

    <div class="box" data-aos="fade-up">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consectetur accusantium error numquam dolore atque. Atque totam ad
        sint ducimus! Maxime!
      </p>
      <h3>someone's name</h3>
      <span>jan 7, 2021</span>
      <img src="static/imagenes/pic-2.png" alt="" />
    </div>

    <div class="box" data-aos="fade-left">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consectetur accusantium error numquam dolore atque. Atque totam ad
        sint ducimus! Maxime!
      </p>
      <h3>someone's name</h3>
      <span>jan 10, 2021</span>
      <img src="static/imagenes/pic-3.png" alt="" />
    </div>
  </div>
</div>
</section>

<!-- review section ends  -->

<!-- counter section starts  -->

<section class="counter">
<div class="container">
  <div class="box-container">
    <div class="box" data-aos="fade-up">
      <i class="fas fa-hospital"></i>
      <span>120+</span>
      <h3>Hospitals</h3>
    </div>

    <div class="box" data-aos="fade-up">
      <i class="fas fa-users"></i>
      <span>100+</span>
      <h3>staff</h3>
    </div>

    <div class="box" data-aos="fade-up">
      <i class="fas fa-smile"></i>
      <span>1200+</span>
      <h3>happy patients</h3>
    </div>

    <div class="box" data-aos="fade-up">
      <i class="fas fa-procedures"></i>
      <span>130+</span>
      <h3>bed facility</h3>
    </div>
  </div>
</div>
</section>

<section class="contact" id="contact">
<div class="container min-vh-100">
  <div class="row justify-content-center">
    <h1 class="heading">
      <span>'</span> make an appointment <span>'</span>
    </h1>

    <div class="col-md-10" data-aos="flip-down">
      <form action="">
        <div class="inputBox">
          <input type="text" placeholder="full name" />
          <input type="number" placeholder="phone" />
        </div>

        <div class="inputBox">
          <input type="email" placeholder="your email" />
          <select name="" id="">
            <option value="" disabled selected>
              make an appointment
            </option>
            <option value="09-11 am">09-11 am</option>
            <option value="11-03 pm">11-03 pm</option>
            <option value="03-06 pm">03-06 pm</option>
            <option value="06-09 pm">06-09 pm</option>
          </select>
        </div>

        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="message ( optional )"
        ></textarea>

        <input
          type="submit"
          name=""
          id=""
          value="make appointment"
          class="button"
        />
      </form>
    </div>
  </div>
</div>
</section>

<section class="post" id="post">
<div class="container min-vh-100">
  <h1 class="heading"><span>'</span> out posts <span>'</span></h1>

  <div class="box-container">
    <div class="box" data-aos="fade-right">
      <img src="static/imagenes/img2.jpg" alt="" />
      <div class="content">
        <span>jan 5, 2021</span>
        <a href="#"><h3>post title goes here</h3></a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex
          porro libero at veniam molestias facere quo necessitatibus ipsum
          ad?
        </p>
        <a href="#"><button class="button">learn more</button></a>
      </div>
    </div>

    <div class="box" data-aos="fade-up">
      <img src="static/imagenes/img4.jpg" alt="" />
      <div class="content">
        <span>jan 5, 2021</span>
        <a href="#"><h3>post title goes here</h3></a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex
          porro libero at veniam molestias facere quo necessitatibus ipsum
          ad?
        </p>
        <a href="#"><button class="button">learn more</button></a>
      </div>
    </div>

    <div class="box" data-aos="fade-left">
      <img src="static/imagenes/img5.jpg" alt="" />
      <div class="content">
        <span>jan 5, 2021</span>
        <a href="#"><h3>post title goes here</h3></a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex
          porro libero at veniam molestias facere quo necessitatibus ipsum
          ad?
        </p>
        <a href="#"><button class="button">learn more</button></a>
      </div>
    </div>
  </div>
</div>
</section>

<!-- post section ends -->

<!-- footer section starts  -->

<section class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-4" data-aos="fade-right">
      <a href="#" class="logo"><span>H</span>ealth<span>C</span>are.</a>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
        nemo porro quasi minima consequuntur dolorum, quas amet in autem
        id?
      </p>
    </div>

    <div class="col-md-4 text-center" data-aos="fade-up">
      <h3>links</h3>
      <a href="#">home</a>
      <a href="#">about</a>
      <a href="#">facility</a>
      <a href="#">review</a>
      <a href="#">contact</a>
      <a href="#">post</a>
    </div>

    <div class="col-md-4 text-center" data-aos="fade-left">
      <h3>share</h3>
      <a href="#">facebook</a>
      <a href="#">twitter</a>
      <a href="#">instagram</a>
      <a href="#">github</a>
    </div>
  </div>
</div>

<h1 class="credit text-center mx-auto">
  created by <span>mr. web designer</span> | all rights reserved.
</h1>
</section>






{% endblock %}








