{% extends 'base.html'%}
{% block title %}

    Login Bosque de Maria

{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

{% endblock %}


{% block content %}
    
    <div class="container">
        <div class="panel first-column">
            <div class="spacer"></div>
            <div class="icons-container">  
                <i class="fas fa-user-md fa-9x"></i>
                <i class="fas fa-notes-medical fa-9x"></i>
                <i class="fas fa-hospital fa-9x"></i>
            </div>
            <div class="titulo">  
                <h1 class="welcome title1">Bienvenido a Bosque de Maria</h1>
                <h2 class="welcome description">Su software confiable para la gestión de citas médicas</h2>
            </div>
        </div>
        <div class="panel second-column">
            <h2 class="panel2-text login">Ingrese</h2>
            <h3 class="panel2-text register">O <br> <a class="link-registro" href="/registro">Regístrese</a> para continuar</h3>

            

            <form method="POST" class="form-register">

                {{ login_form.hidden_tag() }}

                <p class="label">{{ login_form.documento.label() }}</p>
                {{ login_form.documento(placeholder="Sus nombres", id="user", class="input-text") }}
    
                <p class="label">{{ login_form.password.label() }}</p>
                {{ login_form.password(placeholder="Sus apellidos", id="apellidos", class="input-text") }}
                
                <br>

                <br>
    
                {{ login_form.submit(class="btn btn-lg btn-block btn-primary submit-button") }}


            </form>
            <div class="spacer"></div>
        </div>
    </div>
{% endblock %}


