<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!-- Estilo CSS -->
    <link rel="stylesheet" href="/static/css/estilo.css">


     <!-- Icono -->
    <link rel="shortcut icon" href="/static/imagenes/logomedico.png">

    <title>Reseñas Online</title>
  </head>
  <body>
   
    <header>

  
        <img src="/static/imagenes/logomedico.png" alt="">
      

      <h1>CAMINO BOSQUE DE MARIA</h1>

    </header>
   
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Novedades">Novedades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Citas">Citas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Historia">Historiales Medicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Datos">Datos Personales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Fotter">Soporte</a>
            </li>
            
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success border-bottom-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

      

    
    <section class="banner">
        <a name="Novedades"></a>
        <br>  
        <div class="titulos"><h1>¡Hola! ¡Bienvenido! Aqui estan las novedades ¡Informate!</h1></div>

        <div id="Imagen"><img id="ImagenInicio" src="/static/imagenes/Inicio.jpg" alt="ImagenInicio"></div>
        <div id="Parrafo">
        <p>

          <br> Adipisicing elit. Quas eum corrupti itaque quasi 
          <br> adipisicing elit. Quas eum corrupti itaque quasi 
          <br> fuga, nulla corporis molestiae, consequatur saepe libero fugit cumque 
          <br> labore et ratione iusto perferendis commodi voluptatibus quo.
          <br> labore et ratione iusto perferendis commodi voluptatibus quo.

        </p>
        </div>
    </section>

    
    <section class="banner">
      <a name="Citas"></a>
      <br>  
      <div class="titulos"><h1>Citas</h1></div>

      <div id="divCitas">

    <table class="Tabla">

      <tr>
    
        <th><b>#ID</b></th>
    
        <th><b>NOMBRES</b></th>
    
        <th><b>APELLIDOS</b></th>

        <th><b>MOTIVO CONSULTA</b></th>

        <th><b>EPS</b></th>

        <th><b>OPCIONES</b></th>
    
        
      </tr>
    
      <tr>
    
        <th>24335</th>
    
        <th>Antonio</th>
    
        <th>Castro Gonzales</th>

        <th>Consulta de Odontologia</th>

        <th>CajaCopi</th>

        <th>
          <button>CONSULTAR</button>
          <button>ELIMINAR</button>
        </th>
    
      </tr>

      <tr>
    
        <th>44235</th>
    
        <th>Andres Junior</th>
    
        <th>Perez Torrez</th>

        <th>Consulta de Odontologia</th>

        <th>CajaCopi</th>

        <th>
          <button>CONSULTAR</button>
          <button>ELIMINAR</button>
        </th>
    
      </tr>

      <tr>
    
        <th>14234</th>
    
        <th>Andres Junior</th>
    
        <th>Perez Torrez</th>

        <th>Consulta de Odontologia</th>

        <th>CajaCopi</th>

        <th>
          <button>CONSULTAR</button>
          <button>ELIMINAR</button>
        </th>
    
      </tr>

      <tr>
    
        <th>24336</th>
    
        <th>Andres Junior</th>
    
        <th>Perez Torrez</th>

        <th>Consulta de Odontologia</th>

        <th>CajaCopi</th>

        <th>
          <button>CONSULTAR</button>
          <button>ELIMINAR</button>
        </th>
    
      </tr>

      <tr>
    
        <th>24336</th>
    
        <th>Andres Junior</th>
    
        <th>Perez Torrez</th>

        <th>Consulta de Odontologia</th>

        <th>CajaCopi</th>

        <th>
          <button>CONSULTAR</button>
          <button>ELIMINAR</button>
        </th>
    
      </tr>
    
    
    </table>

      </div>
    </section>


  </section>

  <section class="banner">
    <a name="Historia"></a>
    <br>  
    <div class="titulos"><h1>Historiales Medicos</h1></div>

  



  
    
</section>


<section class="banner">
  
<a name="Datos"></a>
<br>  
  <div class="titulos"><h1>Datos Personales</h1></div>







</section>
   

    </main>


    <a name="Fotter"></a>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">
      
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Contactos de soporte:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-center fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>CAMINO BOSQUE MARIA
                </h6>
                <p class="text-center">
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-center fw-bold mb-4">
                  Contact
                </h6>
                <p class="text-center"><i class="te fas fa-home me-3"></i> Barranquilla, Colombia</p>
                <p class="text-center">
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p class="text-center"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p class="text-center"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
      
      </footer>
      <!-- Footer -->


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
     <!-- FireBase -->
  
  </body>
</html>