{% extends 'base.html' %}

{% block title %}




{% endblock %}





{% block styles %}

    <link rel="stylesheet" href="static/mis_citas.css" />

{% endblock %}




{% block content %}

    <h2>Mis citas</h2>

    <h2 class="back"><a href="{{ url_for('dashboard') }}" class="back_a" a>Regresar al dashboard</a></h2>

    {% if length != 0 %}


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medico</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>

            <tbody>
                {% for i in citas %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{i.medico}}</td>
                        <td>{{i.fecha}}</td>
                        <td>{{i.hora}}</td>
                    </tr>

                {% endfor %}


            </tbody>


        </table>

        <h3><a href="{{ url_for('citas') }}">Agendar nueva cita</a></h3>

    {% else %}

        <h3>No hay citas agendadas, si deseas agender una, haz click <a href="{{ url_for('citas') }}">aquí</a></h3>

    {% endif %}        



{% endblock %}