<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
    <link rel="stylesheet" href="/static/css/Pagina_Principal.css" >
</head>
<body>
    <div>
        <h2> Quienes somos </h2>
            <div class="Banner1">
        </div>

        <ul>
        <li><a href="Quienes_Somos.html">QUIENES SOMOS</a>
        </li>
            <li><a href="#"> CONTACTO </a>
                <ul>
                <li><a href="PQR.html">PQR</a></li>
                <li><a href="FAQ.html">PREGUNTAS FRECUENTES</a></li>
                <li><a href="#">ENCUESTA DE USUARIOS</a></li>
                </ul>
                </li>
        </ul>
            <div> 
                <h2>Mision

            </h2>
                <p>
                Expresar el amor de Dios mediante una atención integral de salud a la comunidad y la formación <br>
                profesional médica, sin distinciones, para una vida abundante a través de un cuidado personal para<br>
                 la gloria de Dios y al servicio del Ecuador.
            </p>
        </div>
            <div>
                <h2>Vision
            </h2>

            <p>Ser reconocidos como el Hospital líder y seguro centrado en el paciente que brinda experiencias excepcionales, <br>
                a través de una atención de salud que mejore su calidad de vida en forma integral tanto física como emocional, social y espiritual, <br>
                con los más altos estándares, tecnología de vanguardia y excelencia en la educación médica. </p>

        </div>
            <div>
                <h2>NUESTRO PROPOSITO 
            </h2>
                <p>DAR UNA ATENCIÓN SEGURA Y DE EXCELENCIA CENTRADA <br>
                    EN EL AMOR DE DIOS Y EN EL AMOR A LAS PERSONAS.</p>
        </div>
     </div>    
        <div>
             <h1> VALORES </h1>
             <div> Compromisos Cristianos<br><br>
                Damos prioridad a la vida sobre todas las cosas.<br>
                Damos testimonio de Jesucristo en nuestro estilo de vida individual y corporativa.<br>
                Somos sensibles a las necesidades de nuestros pacientes en el cuidado de su salud integral y su seguridad.<br>
                Expresamos el amor de Dios dando prioridad a la vida sobre todas las cosas.<br><br>
        </div>
             <div> Integridad <br><br>
                Coherencia entre lo que pensamos, decimos y actuamos<br>
                Guardamos coherencia entre lo que pensamos, decimos y actuamos.<br>
                Nos manejamos con honestidad y transparencia en nuestras relaciones de trabajo internas y externas,<br> 
                transmitiendo una buena reputación en todos nuestros actos. Somos confiables y permanecemos fieles a <br>
                nuestros principios cristianos sin importar las consecuencias.<br><br>
        </div>
            <div> servicio<br><br>
                Consideración, gran estima, respeto y la mejor atención<br>
                Mantenemos una actitud permanente de servicio a todas las personas. Respondemos a las necesidades de nuestros clientes<br> 
                internos y externos con gozo y humildad. Consideramos a todas las personas como creadas a la imagen y <br>
                semejanza de Dios que merecen consideración, gran estima, respeto y la mejor atención.<br><br>
        </div>
            <div> Lealta<br><br>
                Cuidamos, preservamos y defendemos la imagen institucional<br>
                Estamos comprometidos con Dios, la Misión y el Hospital para cuidar, preservar y defender la imagen institucional y<br> 
                de sus miembros. Guardamos la confidencialidad<br>
                y reserva de la información de la Organización (ideas, decisiones, estrategias, procesos, actividades, etc.).<br><br>
        </div>
            <div> Innovacion <br><br>
                Mejoramos, creamos y agregamos valor<br>
                Promovemos constantemente la creación e implementación de nuevos servicios y mejora continua de procesos en respuesta a<br>
                las expectativas de nuestros<br>
                clientes agregando valor y asegurando su fidelidad.<br><br>
        </div>
            <div> Responsabilidad Social <br><br>
                Generando bienestar<br>
                Nuestro compromiso con una contribución transparente, ética, activa y voluntaria para el mejoramiento de la calidad de vida de<br> 
                nuestros pacientes y sus<br> 
                familias, de nuestros colaboradores y nuestro entorno.<br><br>

        </div>
            <div>Mayordomia <br><br>
                Responsabilidad, buen uso de los recursos y honestidad en todo lo que hacemos.<br>
                Somos buenos mayordomos de lo que Dios ha puesto en nuestras manos.<br>
                Manejamos con responsabilidad, eficiencia y honestidad todos los recursos bajo nuestro cuidado procurando el máximo beneficio para nuestros pacientes.<br>
                Procuramos un estilo participativo en las relaciones de trabajo asegurando una comunicación eficaz y transparente en doble vía.<br>
                Promovemos el desarrollo profesional, espiritual y personal de nuestros colaboradores en alineamiento con la misión de la Organización.<br>

        </div>



     </div> 
</body>
</html>