<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/superadmin_editar_usuario.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css" integrity="sha384-e7wK18mMVsIpE/BDLrCQ99c7gROAxr9czDzslePcAHgCLGCRidxq1mrNCLVF2oaj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css" integrity="sha384-S5yUroXKhsCryF2hYGm7i8RQ/ThL96qmmWD+lF5AZTdOdsxChQktVW+cKP/s4eav" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <h1 class="hospital"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
    

    <div class="container">

        <h2 class="config-title">Configuración de la cuenta</h2>

        
        <div class="photo-section">
            <img src="/static/imagenes/no-profile.png" alt="" class="profile-photo">
            <div class="photo-info">
                <h2>Foto de perfil</h2>
                <h3>Se aceptan imagenes .png de máximo 1MB.</h3>
                <button>Cargar</button>
            </div>
        </div>
    
        <div class="info">
            <div class="info-4 first-info">
                <h2>Nombres</h2>
                <h2>Apellidos</h2>
                <input type="text">
                <input type="text">
            </div>
            <div class="info-4">
                <h2>Fecha de nacimiento</h2>
                <h2>Número de indentificación</h2>
                <input type="text">
                <input type="text">
            </div>
            <div class="info-4">
                <h2>Género</h2>
                <h2>Departamento</h2>
                <input type="text">
                <input type="text">
            </div>
            <div class="info-4">
                <h2>Municipio</h2>
                <h2>Teléfono</h2>
                <input type="text">
                <input type="text">
            </div>
            <div class="info-2">
                <h2>Correo electrónico</h2>
                <input type="text">
            </div>
    
            <div class="botones">
                <button>Guardar Cambios</button>
                <button id="cancel">Cancelar</button>
            </div>
    
    
        </div>
    </div>


    
</body>
</html>