<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar usuario</title>
    <link rel="stylesheet" href="/static/css/super_admin_consultar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css" integrity="sha384-e7wK18mMVsIpE/BDLrCQ99c7gROAxr9czDzslePcAHgCLGCRidxq1mrNCLVF2oaj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css" integrity="sha384-S5yUroXKhsCryF2hYGm7i8RQ/ThL96qmmWD+lF5AZTdOdsxChQktVW+cKP/s4eav" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="hospital"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
    
    
    <div class="busqueda">
        <div class="search-border">
            <input type="text" class="search-bar">
            <a href="" class="search-button"><i class="fas fa-search"></i></a>
        </div>
    </div>

    <h2 class="n-results">Se han encontrado <span>4</span> resultados para la busqueda de "<span>torres</span>"</h2>

    <div class="results-section">
        <div class="result">
            <div class="result-top"><a href="" class="name"><span class="apellidos">Torres Martinez</span>, Juan Jose</a> <a href=""><i class="fas fa-edit"></i></a></div>
            <h3 class="user-info"><span class="bold">ID:</span> 32456821</h3>
            <h3 class="user-info"><span class="bold">Tipo de usuario:</span> Paciente</h3>
            <h3 class="user-info"><span class="bold">Fecha de nacimiento:</span> 03/12/1982</h3>
            <h3 class="user-info"><span class="bold">Fecha de ingreso:</span> 08/10/2021</h3>
        </div>

        <div class="result">
            <div class="result-top"><a href="" class="name"><span class="apellidos">Torres Martinez</span>, Juan Jose</a> <a href=""><i class="fas fa-edit"></i></a></div>
            <h3 class="user-info"><span class="bold">ID:</span> 32456821</h3>
            <h3 class="user-info"><span class="bold">Tipo de usuario:</span> Paciente</h3>
            <h3 class="user-info"><span class="bold">Fecha de nacimiento:</span> 03/12/1982</h3>
            <h3 class="user-info"><span class="bold">Fecha de ingreso:</span> 08/10/2021</h3>
        </div>

        <div class="result">
            <div class="result-top"><a href="" class="name"><span class="apellidos">Torres Martinez</span>, Juan Jose</a> <a href=""><i class="fas fa-edit"></i></a></div>
            <h3 class="user-info"><span class="bold">ID:</span> 32456821</h3>
            <h3 class="user-info"><span class="bold">Tipo de usuario:</span> Paciente</h3>
            <h3 class="user-info"><span class="bold">Fecha de nacimiento:</span> 03/12/1982</h3>
            <h3 class="user-info"><span class="bold">Fecha de ingreso:</span> 08/10/2021</h3>
        </div>

        <div class="result">
            <div class="result-top"><a href="" class="name"><span class="apellidos">Torres Martinez</span>, Juan Jose</a> <a href=""><i class="fas fa-edit"></i></a></div>
            <h3 class="user-info"><span class="bold">ID:</span> 32456821</h3>
            <h3 class="user-info"><span class="bold">Tipo de usuario:</span> Paciente</h3>
            <h3 class="user-info"><span class="bold">Fecha de nacimiento:</span> 03/12/1982</h3>
            <h3 class="user-info"><span class="bold">Fecha de ingreso:</span> 08/10/2021</h3>
        </div>

    </div>
</body>
</html>