.cap{
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

.navbar{
    margin-top: 0;
    font-weight: bold;
    background-color: #fff;
    height: 60px;
}

.heading{
    margin-top: 150px;
    text-align: center;
    justify-content: center;
}